<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }} {{ form.username(class_="form-control") }}
            {% if form.username.errors %}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class_="form-control") }}
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.first_name.label }} {{ form.first_name(class_="form-control") }}
            {% if form.first_name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.last_name.label }} {{ form.last_name(class_="form-control") }}
            {% if form.last_name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class_="form-control") }}
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone.label }} {{ form.phone(class_="form-control") }}
            {% if form.phone.errors %}
                <div class="invalid-feedback">
                    {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.estate.label }} {{ form.estate(class_="form-control") }}
            {% if form.estate.errors %}
                <div class="invalid-feedback">
                    {% for error in form.estate.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.block.label }} {{ form.block(class_="form-control") }}
            {% if form.block.errors %}
                <div class="invalid-feedback">
                    {% for error in form.block.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.floor.label }} {{ form.floor(class_="form-control") }}
            {% if form.floor.errors %}
                <div class="invalid-feedback">
                    {% for error in form.floor.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.house_number.label }} {{ form.house_number(class_="form-control") }}
            {% if form.house_number.errors %}
                <div class="invalid-feedback">
                    {% for error in form.house_number.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </form>

    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
</body>

</html>